@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');

body{
    font-family: 'Dosis', sans-serif;
    background-image: url("https://i1.faceprep.in/ProGrad/minion-background.png");
    background-size: 100% 100%;
}
section{
    width: 500px;
    background-color: white;
    margin: auto;
    padding: 10px 0;
}

div{
    text-align: center;
}
p, form, input[type="text"], input[type="number"], textarea{
    width: 350px;
    padding: 8px;
}
p,form{
    margin: auto;
}
label{
    font-weight: bold;
}
input,textarea {
    margin: 10px 0;
}
input[type="submit"]{
    background-color: #1e90ff;
    color: white;
    display: block;
    margin: auto;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}